.recommended-details__recommended-container
  padding: 20px

  h2 
    color: lightgrey
    text-align: center
    margin-bottom: 20px

  h3
    color: lightgrey
    text-align: center

  .recommended-details__recommended-poster-container::-webkit-scrollbar
    display: none

  .recommended-details__recommended-poster-container
    display: flex
    overflow-y: hidden
    overflow-x: auto

    .recommended-details__no-img
      height: 200px
      min-width: 133px
      background-color: grey
      margin-right: 10px
      color: lightgrey
      border: 2px solid lightgrey
      cursor: pointer
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      transition: tranform 450ms

    .recommended-details__no-img:hover
      transform: scale(1.08)
      cursor: pointer

    img
      margin-right: 10px
      height: 200px
      cursor: pointer
      transition: tranform 450ms

    img:hover
      transform: scale(1.08)
      cursor: pointer