<div class="recommended-details__recommended-container">
  <h2>{{heading}}</h2>
  <div
    (mousedown)="onMouseDown($event)" 
    (mousemove)="onMouseMove($event)" 
    (mouseup)="onMouseUp($event)" 
    (mouseleave)="onMouseUp($event)"
    [scrollLeft]="newMouseOffset" 
    class="recommended-details__recommended-poster-container"
  >
    <ng-container *ngFor="let r of recommendationDetails">
      <img 
        src="https://image.tmdb.org/t/p/w500/{{ r.poster_path }}"
        [routerLink]="[basePath ,r.id]"
      >
    </ng-container>
  </div>
</div>