<div class="movie-details__container">
  <div *ngIf="movieResult" class="movie-details__header">
    <img *ngIf="movieResult.poster_path; else no_movie_image"
      src="https://image.tmdb.org/t/p/original/{{ movieResult.poster_path }}" 
      alt="s.title"
    >
    <ng-template #no_movie_image>
      <div class="move-details__no-movie-image">
        NO IMAGE FOUND
      </div>
    </ng-template>
    <div>
      <h1>{{ movieResult.title }} ({{ getYear(movieResult.release_date) || "No Year Found" }})</h1>
      <p>{{ movieResult.overview }}</p>
      <div class="movie-details__rating">
        Rating: {{movieResult.vote_average}}/10
      </div>
    </div>
  </div>
</div>

<div class="movie-details__line-break"></div>

<app-video-display
  [videoDisplayDetails]="movieVideoResult"
>
</app-video-display>

<div class="movie-details__line-break"></div>

<app-review-details
  [reviewDetails]="movieReviews"
>
</app-review-details>

<div class="movie-details__line-break"></div>

<app-recommendation-details
  [heading]="'Similar Movies'"
  [recommendationDetails]="similarMovies"
  [basePath]="'/movie'"
>
</app-recommendation-details>

<div class="movie-details__line-break"></div>

<app-recommendation-details
  [heading]="'Recommended Movies'"
  [recommendationDetails]="movieRecommendations"
  [basePath]="'/movie'"
>
</app-recommendation-details>

<div class="movie-details__line-break"></div>

<app-cast-details
  [castDetails] = "movieCastResult"
>
</app-cast-details>